/* Navbar styling */

.navbar {
  padding: 10px;
  background-color: #f8f9fa;
}


.navbar .bg-body-tertiary{
  --bs-bg-opacity: 1;
  background-color: rgb(255, 255, 255) !important;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 0.5rem;
}

.navbar-brand i {
  font-size: 1.5rem;
  margin-right: 10px;
}

/* Icon group styling */
.icon-group {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon-group .pi {
  font-size: 1.4rem;
  cursor: pointer;
  color: #5b6268;
  padding: 0 2px;
}

.icon-group .pi:hover {
  color: #343a40;
}


/* Menu button styling */
.menu-btn {
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
  margin-right: 10px;
  color: black;
}

.menu-btn:hover {
  color: var(--accent-color);
}


/* Apply styles to PrimeNG p-card components */
::ng-deep .dashboard-cards {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
}

::ng-deep .p-card .p-card-body {
  padding: 1rem 5rem;
}

/* Styling for each individual card */
::ng-deep .dashboard-cards .p-card.card {
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 42%; /* Adjust to fit 4 cards in a row */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

::ng-deep .dashboard-cards .p-card.card:hover {
  transform: translateY(-4px);
}

/* Card content styling */
::ng-deep .dashboard-cards .card-content {
  display: flex;
  flex-direction: column;
}

::ng-deep .dashboard-cards .card-title {
  font-size: 0.9rem;
  color: #6c757d;
  margin-bottom: 0.5rem;
}

::ng-deep .dashboard-cards .card-value {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

::ng-deep .dashboard-cards .card-info {
  font-size: 0.85rem;
  color: #6c757d;
  margin-top: 0.5rem;
}

::ng-deep .dashboard-cards .card-highlight {
  color: #28a745;
  font-weight: bold;
}

/* Icon styling */
::ng-deep .dashboard-cards .card-icon {
  background-color: #f0f4ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

::ng-deep .dashboard-cards .card-icon i {
  font-size: 1.25rem;
  color: #007bff;
}


