<div class="booking-card">
  <div class="booking-info">
    <p-button (onClick)="toggleSidebar()" icon="pi pi-bars" [style]="{ borderColor: 'transparent', backgroundColor: 'transparent', color: '#454545', boxShadow: 'none' }"></p-button>

    <h1>Users: {{ userCount }}</h1>
  </div>

  <div class="booking-time">
      <div class="date">
          <h2>{{ currentTime | date: 'h:mm:ss a' }}</h2>
          <p>{{ currentTime | date: 'MMMM d, y' }}</p>                
      </div>
  </div> 
</div>
<div class="confManagement">
  <app-user-management (userCountChange)="userCount = $event" ></app-user-management>
</div>
<app-sidebar [(visible)]="sidebarVisible" *ngIf="sidebarVisible"></app-sidebar>