


	<form class="login">
		<input type="text" name="userName" [(ngModel)]="loginData.userName" placeholder="Username">
		<input type="password" name="password" [(ngModel)]="loginData.password" placeholder="Password">
		<p-button type="submit" label="Login" (onClick)="onLogin()"/>
	</form>

<div class="persistent-button-container">
	<p-button 
			[routerLink]="['/calendar']" 
			[style]="{ 
					backgroundColor: 'royalblue', 
					border: 'none', 
					width: '100%', 
			}" 
			label="Book" 
			icon="pi pi-calendar">
	</p-button>
</div>

	

