<div class="container">
	<div class="form">
		<h1>REGISTER</h1>
		<div class="input" style="position: relative;">
		    <i class="pi pi-user" style="position: absolute; left: 12px; top: 50%; transform: translateY(-50%); z-index: 1;"></i>
		    <input pInputText type="text" name="userName" [(ngModel)]="registerData.userName" style="padding-left: 35px;" placeholder="Username" />
		</div>
		<div class="input" style="position: relative;">
		    <i class="pi pi-lock" style="position: absolute; left: 12px; top: 50%; transform: translateY(-50%); z-index: 1;"></i>
		    <input pInputText type="password" name="password" [(ngModel)]="registerData.password" style="padding-left: 35px;" placeholder="Password" />
		</div>
		<div class="input">
			<input pInputText type="text" name="firstname" [(ngModel)]="registerData.firstName" style="padding-left: 35px;" placeholder="Firstname" />
		</div>
		<div class="input">
			<input pInputText type="text" name="lastName" [(ngModel)]="registerData.lastName" style="padding-left: 35px;" placeholder="Lastname" />
		</div>
		<div class="input">
			<input pInputText type="email" name="email" [(ngModel)]="registerData.email" style="padding-left: 35px;" placeholder="E-Mail" />
		</div>
		
		<div class="input">
			<p-button type="submit" label="Register" (onClick)="onRegisterUser()"/>
		</div>

	</div>
</div>
