<form class="registration">
  <input type="text" name="userName" [(ngModel)]="registrationData.userName" placeholder="Username">
  <input type="email" name="email" [(ngModel)]="registrationData.email" placeholder="Email">
  <input type="password" name="password" [(ngModel)]="registrationData.password" placeholder="Password">
  <!-- <input type="password" name="confirmPassword" placeholder="Confirm Password"> -->
  <p-button type="submit" label="Register" (onClick)="onRegisterAdmin()"></p-button>
</form>
