<div class="outer-container">
    <div class="actions">
        <p-button label="Add conference" icon="pi pi-plus" iconPos="right" (onClick)="showConferenceModal()"></p-button>
    </div>
    <div class="card">
        <p-table 
            [value]="Conferences"
            styleClass="p-datatable-striped" 
            [tableStyle]="{ 
              'width': '100%',
              'overflow': 'auto',
              'border': '1px solid #ccc',
              'background-color': '#f9f9f9',
              'box-shadow': '0 4px 8px rgba(0,0,0,0.1)',
              'border-radius': '8px',
              'padding': '10px',
            }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Conference ID</th>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>Active</th>
                    <th style="text-align: center;">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-conference>
                <tr>
                    <td>{{ conference.conferenceId }}</td>
                    <td>{{ conference.conferenceName }}</td>
                    <td>{{ conference.capacity }}</td>
                    <td>
                        <p-tag [value]="conference.isActive ? 'ACTIVE' : 'INACTIVE'" [severity]="getActiveStatus(conference.isActive)" />
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <div class="input-group" style="display: flex; justify-content: center; align-items: center;">
                            <p-button icon="pi pi-pen-to-square" severity="contrast" (onClick)="showConferenceModal(conference)"></p-button>
                            <p-button icon="pi pi-trash" severity="danger" (onClick)="showConferenceModal(conference, true)"></p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        
    </div>
    <div class="card flex justify-content-center">
        <p-dialog [header]="dialogTitle" 
                  [draggable]="false" [modal]="true" 
                  [(visible)]="isConferenceModalVisible" 
                  [style]="{ width: '35rem' }">

            <ng-container *ngTemplateOutlet="ConferenceModal"></ng-container>
    
            <div class="d-flex justify-content-end gap-2" style="padding-right: 10px;">
                <p-button label="Cancel" severity="secondary" (onClick)="isConferenceModalVisible = false"></p-button>
                <p-button *ngIf="!deleteModal" label="Save" type="submit" (onClick)="onAddorUpdateConference(conferenceData)"></p-button>
                <p-button *ngIf="deleteModal" label="Delete" type="submit" severity="danger" (onClick)="onConferenceDelete(conferenceData.conferenceId!)"></p-button>

            </div>    
        </p-dialog>
    </div>

        <!-- Step 1 Template -->
    <ng-template #ConferenceModal>
        <div *ngIf="!deleteModal" class="user-input">
            <div class="input-group">
                <div class="textbox">
                    <p-floatLabel>
                        <input pInputText type="text" id="conferenceName" class="form-control small-input" name="conferenceName" [(ngModel)]="conferenceData.conferenceName">
                        <label for="conferenceName" class="font-bold block mb-2"> Conference Name </label>
                    </p-floatLabel>
                </div>
            </div>
            <div class="input-group">
    
                <div class="textbox">
                    <p-floatLabel>
                        <input pInputText type="text" class="form-control small-input" name="capacity" id="floatingInput" [(ngModel)]="conferenceData.capacity">
                        <label for="floatingInput" class="font-bold block mb-2"> Capacity </label>
                    </p-floatLabel>
                </div>
                <div class="textbox">
                    <p-floatLabel>
                        <p-multiSelect 
                            inputId="multiselect"
                            [options]="admins" 
                            [(ngModel)]="conferenceData.userDtos" 
                            optionLabel="userName"
                            [filter]="false"
                            appendTo="body"/>
                        <label for="multiselectc">Select Admins</label>
                    </p-floatLabel>
                    
                </div>
            </div>
            <div class="input-group" *ngIf="updateModal">
                <div class="textbox">
                    <p-checkbox 
                    name="Status"
                    [binary]="true"
                    [(ngModel)]="conferenceData.isActive"
                    label="Active" 
                    inputId="active"
                    [style]="{ marginLeft: '10px' }" />
                    
                </div>                    
            </div>
        </div>
        <div *ngIf="deleteModal" class="user-input">
            <div class="input-group">
    
                <div class="textbox">
                    <input pInputText type="text" [disabled]="true" class="form-control small-input" name="conferenceName" id="floatingInput" [(ngModel)]="conferenceData.conferenceName">
                    <label style="text-align: center;width: 100%;margin-top: 20px;font-size: 20px;"> This action's cannot be undone! </label>
                </div>
            </div>
        </div>
    </ng-template>

  </div>