<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  
    <div class="booking-card">
        <div class="booking-info">
            <p-button (onClick)="toggleSidebar()" icon="pi pi-bars"></p-button>
          
            <p-dropdown 
                [options]="ConferenceRoom" 
                [(ngModel)]="ConferenceData" 
                optionLabel="conferenceName" 
                placeholder="Select Conference Rooms" 
                (onChange)="onConferenceChange()">
            </p-dropdown>
        </div>

        <div class="booking-time">
            <i *ngIf="upcomingBooking.length === 0" class="pi pi-bell" style="font-size: 1.5rem; margin: 30px" (click)="notifVisible = true"></i>
            <i *ngIf="upcomingBooking.length > 0" class="pi pi-bell" pBadge style="font-size: 1.5rem; margin: 30px" [value]="upcomingBooking.length" (click)="notifVisible = true"></i>

            <p-sidebar [(visible)]="notifVisible" position="right" [style]="{ width: '450px' }">
                <ng-template pTemplate="headless">
                    <div class="d-flex align-items-center">
                        <i class="pi pi-times" style="font-size: 1rem; margin: 30px" (click)="notifVisible = false"></i>
                        <span class="ml-2">Notifications</span>
                    </div>
                    <p-scrollPanel class="notif" [style]="{ width: '100%', height: '85vh' }">
                        <p-dataView #dv [value]="upcomingBooking">
                            <ng-template pTemplate="list" let-bookings>
                                <div class="grid grid-nogutter">
                                    <div class="col-12" *ngFor="let booking of bookings; let first = first">
                                        <!-- Booking Box -->
                                        <p-panel class="notif-panel" [style]="{ padding: '20px' }">
                                            <!-- Custom Header -->
                                            <ng-template pTemplate="header">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <span class="font-medium text-lg text-900">
                                                            {{ booking.purpose }}
                                                            <span class="text-sm text-secondary">
                                                                ({{ '1970-01-01T' + booking.bookingStart | date: 'h:mm a' }} - 
                                                                {{ '1970-01-01T' + booking.bookingEnd | date: 'h:mm a' }})
                                                            </span>
                                                        </span>
                                                    </div>

                                                    <!-- Status with dynamic color and border -->
                                                    <div *ngIf="booking.status" [ngStyle]="{
                                                        'border': '2px solid ' + getStatusLabel(booking.status).split('|')[1],
                                                        'padding': '2px 5px',
                                                        'margin': '0 10px',
                                                        'border-radius': '10px',
                                                        'color': 'white',
                                                        'background-color': getStatusLabel(booking.status).split('|')[1],
                                                        'font-weight': 'bold',
                                                        'font-size': '0.65rem',
                                                        'display': 'inline-block'
                                                    }" [class]="booking.status">
                                                        {{ getStatusLabel(booking.status).split('|')[0] }}
                                                    </div>
                                                </div>
                                            </ng-template>

                                            <!-- Panel Content -->
                                            <ng-template pTemplate="body">
                                                <div [style]="{ height: '25px', overflow: 'hidden' }">
                                                    <p>{{ calculateTimeUntilStart(booking.bookingStart) }}</p>
                                                </div>
                                            </ng-template>

                                            <!-- Footer with Divider -->
                                            <ng-template pTemplate="footer">
                                                <div class="d-flex align-items-center justify-content-between text-secondary" 
                                                     [style]="{ padding: '2px 5px', height: '20px', fontSize: '0.9rem' }">
                                                    <span [style]="{ flexShrink: 0 }">Organizer:</span>
                                                    <span [style]="{ flexShrink: 0 }">{{ booking.organizer || 'N/A' }}</span>
                                                    <p-divider [style]="{ height: '15px', margin: '0 5px', flexShrink: 0 }" layout="vertical"></p-divider>
                                                    <span [style]="{ flexShrink: 0 }">Department:</span>
                                                    <span [style]="{ flexShrink: 0 }">{{ booking.department || 'N/A' }}</span>
                                                </div>
                                            </ng-template>



                                        </p-panel>
                                    </div>
                                </div>
                            </ng-template>
                        </p-dataView>                
                    </p-scrollPanel>
                </ng-template>
            </p-sidebar>








            <div class="date">
                <h2>{{ currentTime | date: 'h:mm:ss a' }}</h2>
                <p>{{ currentTime | date: 'MMMM d, y' }}</p>                
            </div>
        </div>
    </div>


<div class="calendar-container">
    <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<div class="card flex justify-content-center">
    <p-dialog header="Section {{ currentStep }}: {{ currentTitle }}" 
              [draggable]="false" [modal]="true" 
              [baseZIndex]="100"
              [(visible)]="isBookingModalVisible" 
              [style]="{ width: '35rem' }" 
              (onHide)="resetModal()">
              <!-- <i class="pi pi-calendar-clock" style="font-size: 1.3rem"></i> -->
        <h5 class="p-text-secondary block mb-3 mt-3"><b>{{ formattedDate }}</b></h5>

        <ng-container *ngTemplateOutlet="getCurrentStepTemplate()"></ng-container>

        <div class="d-flex justify-content-end gap-2 mt-4">
            <p-button styleClass="cancel" label="Cancel" severity="secondary" (onClick)="isBookingModalVisible = false"></p-button>
            <p-button *ngIf="currentStep > 1" label="Previous"s (onClick)="previousStep()"></p-button>
            <p-button class="red-button" *ngIf="currentStep < 2" label="Next" (onClick)="nextStep()"></p-button>
            <p-button *ngIf="currentStep === 2" label="Book" type="submit" (onClick)="BookConference(data)"></p-button>
        </div>    
    </p-dialog>
</div>

<!-- Step 1 Template -->
<ng-template #step1>
    <div class="user-input">
       
            <div class="textbox">
                <p-floatLabel>
                    <input pInputText type="text" class="form-control small-input primengFloat" name="organizer" id="floatingInput"[(ngModel)]="data.organizer">
                    <label for="floatingInput" class="font-bold block mb-2"> Name of Organizer </label>
                </p-floatLabel>
            </div>
        
            <div class="textbox">
                <p-floatLabel>
                    <input pInputText type="text" class="form-control small-input primengFloat" name="department" id="floatingInput" [(ngModel)]="data.department">
                    <label for="floatingInput" class="font-bold block mb-2"> Department </label>
                </p-floatLabel>
            </div>
        
            <div class="textbox">
                <p-floatLabel>
                    <input pInputText type="text" class="form-control small-input primengFloat" name="contactNumber" id="floatingInput" [(ngModel)]="data.contactNumber">
                    <label for="floatingInput" class="font-bold block mb-2"> Contact/IP </label>
                </p-floatLabel>
            </div>
        
            <div class="textbox">
                <p-floatLabel>
                    <input pInputText type="email" class="form-control small-input primengFloat" name="emailAddress" id="floatingInput" [(ngModel)]="data.emailAddress">
                    <label for="floatingInput" class="font-bold block mb-2"> Email Address </label>
                </p-floatLabel>
            </div>
    </div>
</ng-template>

<!-- Step 2 Template -->
<ng-template #step2>
    <div class="user-input">
        <!-- Meeting Title -->
        <div class="textbox">
            <p-floatLabel>
                <input pInputText type="email" class="form-control small-input primengFloat" name="emailAddress" id="floatingInput" [(ngModel)]="data.purpose">
                <label for="floatingInput" class="font-bold block mb-2"> Meeting Details </label>
            </p-floatLabel>
        </div>
    
        <!-- Start and End Time with Bootstrap Floating Labels -->
        <div class="d-flex justify-content-between time-inputs">
            <div class="form-floating flex-grow-1 me-3">
                <input type="time" min="08:00" max="17:00" class="form-control" id="startTime" placeholder="Start Time" [(ngModel)]="data.bookingStart">
                <label for="startTime">Start Time</label>
            </div>
    
            <div class="form-floating flex-grow-1">
                <input type="time" class="form-control" id="endTime" placeholder="End Time" [(ngModel)]="data.bookingEnd">
                <label for="endTime">End Time</label>
            </div>
        </div>
    
        <!-- Expected number of Attendees -->
        <div class="textbox">
            <p-floatLabel>
                <input pInputText type="email" class="form-control small-input primengFloat" name="emailAddress" id="floatingInput" [(ngModel)]="data.expectedAttendees">
                <label for="floatingInput" class="font-bold block mb-2"> Expected number of Attendees </label>
            </p-floatLabel>
        </div>
    
        <!-- Recurring Meeting Checkbox -->
        <!-- <div class="form-check mt-4">
            <input class="form-check-input" type="checkbox" id="recurringMeeting" [(ngModel)]="checked">
            <label class="form-check-label" for="recurringMeeting">
                Recurring Meeting
            </label>
        </div> -->

        <div class="accordion" id="accordionExample">
            <div class="textbox">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <!-- Remove accordion-button class and add custom styling -->
                        <div class="d-flex align-items-center">
                            <input class="form-check-input ms-1 me-2 mb-2" type="checkbox" id="recurringMeeting" [(ngModel)]="checked" (change)="toggleAccordion('collapseOne')">
                            <label class="form-check-label" for="recurringMeeting">
                                Recurring Meeting
                            </label>
                        </div>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the first item's accordion body.</strong> It is hidden by default until the collapse plugin adds the appropriate classes that we use to style each element.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
</ng-template>

<!-- THIS IS FOR THE USER ROLE EVENT MODAL -->
<div class="card flex justify-content-center">
    <p-dialog 
              [(visible)]="isEventModalVisible" 
              [modal]="true" 
              [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
              [style]="{ width: '50vw' }" 
              [draggable]="false" 
              [resizable]="false">

              <ng-template pTemplate="header">
                <div class="d-flex align-items-center">
                    <h5 class="m-0"><strong>{{ bookingById.purpose }}</strong></h5> <!-- Header Text -->
                    <p-tag 
                        styleClass="tag-header" 
                        [value]="bookingById.status ?? 'Pending' | titlecase" 
                        [rounded]="true" 
                        class="ml-2 tag-header" 
                        [style]="getTagStyle(bookingById.status ?? '')">
                    </p-tag>
                </div>
            </ng-template>

        <!-- Modal Content -->
        <div class="row g-3">
            <!-- Organizer Name -->
            <div class="col-12 form-label-header">
                <label for="organizerName" class="form-label">Organizer Name</label>
                <input type="text" id="organizerName" class="form-control" [(ngModel)]="bookingById.organizer" disabled>
            </div>

            <!-- Start Time and End Time -->
            <div class="col-6">
                <label for="startTime" class="form-label">Start Time</label>
                <input type="text" id="startTime" class="form-control" [(ngModel)]="bookingById.bookingStart" disabled>
            </div>
            <div class="col-6">
                <label for="endTime" class="form-label">End Time</label>
                <input type="text" id="endTime" class="form-control" [(ngModel)]="bookingById.bookingEnd" disabled>
            </div>
            <!-- Department -->
            <div class="col-12">
                <label for="department" class="form-label">Department</label>
                <input type="text" id="department" class="form-control" [(ngModel)]="bookingById.department" disabled>
            </div>

            <!-- Number of Attendees -->
            <div class="col-12">
                <label for="attendees" class="form-label">Number of Attendees</label>
                <input type="text" id="attendees" class="form-control" [(ngModel)]="bookingById.expectedAttendees" disabled>
            </div>

            <!-- Okay Button -->
            <div class="col-12 text-center">
                <button type="button" class="btn btn-danger">Okay</button>
            </div>
        </div>

    </p-dialog>
</div>

<!-- THIS IS FOR THE ADMIN ROLE EVENT MODAL -->
<div class="card flex justify-content-center">
    <p-dialog 
              [(visible)]="isAdminEventModalVisible" 
              [modal]="true" 
              [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
              [style]="{ width: '50vw' }" 
              [draggable]="false" 
              [resizable]="false">

              <ng-template pTemplate="header">
                <div class="d-flex align-items-center">
                    <h5 class="m-0"><strong>{{ bookingById.purpose }}</strong></h5> <!-- Header Text -->
                    <p-tag 
                        styleClass="tag-header" 
                        [value]="bookingById.status ?? 'Pending' | titlecase" 
                        [rounded]="true" 
                        class="ml-2 tag-header" 
                        [style]="getTagStyle(bookingById.status ?? '')">
                    </p-tag>
                </div>
            </ng-template>

        <!-- Modal Content -->
        <div class="row g-3">
            <!-- Organizer Name -->
            <div class="col-12 form-label-header">
                <label for="organizerName" class="form-label">Organizer Name</label>
                <input type="text" id="organizerName" class="form-control" [(ngModel)]="bookingById.organizer" disabled>
            </div>

            <!-- Start Time and End Time -->
            <div class="col-6">
                <label for="startTime" class="form-label">Start Time</label>
                <input type="text" id="startTime" class="form-control" [value]="formattedStartTime" disabled>
            </div>
            <div class="col-6">
                <label for="endTime" class="form-label">End Time</label>
                <input type="text" id="endTime" class="form-control" [value]="formattedEndTime" disabled>
            </div>
            <!-- Department -->
            <div class="col-12">
                <label for="department" class="form-label">Department</label>
                <input type="text" id="department" class="form-control" [(ngModel)]="bookingById.department" disabled>
            </div>

            <!-- Contact IP -->
            <div class="col-12">
                <label for="contact" class="form-label">Contact IP</label>
                <input type="text" id="contact" class="form-control" [(ngModel)]="bookingById.contactNumber" disabled>
            </div>

            <!-- Number of Attendees -->
            <div class="col-12">
                <label for="attendees" class="form-label">Number of Attendees</label>
                <input type="text" id="attendees" class="form-control" [(ngModel)]="bookingById.expectedAttendees" disabled>
            </div>

            <!-- Okay Button -->
            <div class="col-12 text-center approval-btn">
                <p-button (onClick)="handleBooking(bookingById, 'approve')" label="Approve" type="submit"></p-button>
                <p-button (onClick)="handleBooking(bookingById, 'reject')" styleClass="cancel" label="Reject" severity="secondary" type="submit"></p-button>
            </div>
            
        </div>

    </p-dialog>
</div>

<!-- <div class="card flex justify-content-center">
    <p-sidebar [(visible)]="sidebarVisible">
        <ng-template pTemplate="headless">
            <div class="sidebar">
                <div class="sidebar-header">
                    <h3 class="sidebar-header" >Brigada Conferences</h3>
                </div>
                <p-divider/>
                <div class="sidebar-buttons">
                    <p-button [routerLink]="['/admin-dashboard']" label="Conference" icon="pi pi-cog"/>
                </div>
                <div class="sidebar-buttons">
                    <p-button [routerLink]="['/testing']" label="Calendar" icon="pi pi-calendar"/>
                </div>
                <div class="sidebar-buttons">
                    <p-button [routerLink]="['/testing']" label="Calendar" icon="pi pi-calendar"/>
                </div>
            </div>
        </ng-template>
    </p-sidebar>
</div> -->
<app-sidebar [(visible)]="sidebarVisible"></app-sidebar>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<router-outlet></router-outlet>
